<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 bg-light d-flex align-items-center justify-content-center text-center p-4">
        <div>
          <h1>About Us</h1>
          <p class="lead">
            Welcome to our Flower Boutique! We are passionate about bringing the beauty and joy of flowers into your life. Our boutique is a haven for flower enthusiasts, where you can explore a stunning array of blooms, each carefully selected for its elegance and freshness. 
            With a keen eye for design and a commitment to excellence, our team of skilled florists handcrafts exquisite arrangements that capture the essence of every occasion. From romantic bouquets to elegant centerpieces, we specialize in creating bespoke floral creations that leave a lasting impression.
            Whether you're celebrating a milestone event, expressing your love and gratitude, or simply treating yourself to a touch of natural beauty, our boutique offers a curated selection of premium flowers to suit every taste and preference.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../../../assets/shop.jpg" class="img-fluid rounded" alt="Flower Boutique">
      </div>
    </div>
  </div>